
html {
    background-color: rgb(17, 17, 17);
}

/* Nav */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-font{
    width:100%;
    height: auto;
}

@media screen and (min-width: 1600px) {
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .nav-font{
      width:80%;
      height: auto;
      
    }
  }
.link {
    text-decoration: none;
}
.nav-img:hover {
    background-color: rgb(209, 96, 96);
}
