
html {
    background-color: rgb(17, 17, 17);
}

/* Nav */
.row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 25%;
    
}
.nav-font{
    width:100%;
    height: auto;
}

.nav-link {
    display: flex;
    width: 100%;
    height: auto;
    text-decoration: none;
}

@media screen and (min-width: 1600px) {
    
    .nav-link{
        width:80%;
        height: 7em;
        align-items: center;
        margin-left: 10%;
        
      
    }
  }

.nav-img:hover {
    background-color: rgb(209, 96, 96);
}
